{% extends 'base.html.twig' %}

{% block title %}Hello HotMatchController!{% endblock %}

{% set compteur = 0 %}


{% block body %}
    <section class="hero is-info is-medium has-text-centered" id="matches">
        <div class="container" id="matches-body">
            <h1 class="title">
                Catégorie
            </h1>
            <p class="subtitle">
                C'est un match!
            </p>
        </div>
    </section>
    <div class="container">
        <!-- Main container -->
        <div class="level">
            <!-- Left side -->
            <div class="level-left">
                <div class="level-item">
                    <div class="column is-one-quarter">
                        <div class="celebrity-div" id="celebrity-left">
                            <img class="match-medium-img" src="{{ firstAvatar }}">
                            <p class="celebrity-name has-text-centered">{{ firstQuery }}</p>
                        </div>

                    </div>
                </div>
            </div>
            <!-- Right side -->
            <div class="level-right">
                <div class="level-item">
                    <div class="column is-one-quarter">
                        <div class="celebrity-div" id="celebrity-right">
                            <img class="match-medium-img" src="{{ secondAvatar }}">
                            <p class="celebrity-name has-text-centered">{{ secondQuery }}</p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="columns">
            <div class="column is-half is-offset-one-quarter" id="news-div">
                {% for a in article %}
                    {% if compteur == 3 %}
                        {% set compteur = 0 %}
                        <div>
                            <img src="{{ asset('img/samsung-galaxy-s-10-pre-order-banner-new-french.png') }}" alt="">
                        </div>
                    {% elseif loop.index == 2 or loop.index == 3 %}
                        <div class="card">
                            {% if a.img_uri %}
                                <div class="card-image">
                                    <figure class="image">
                                        <img src="{{ a.img_uri }}" alt="Placeholder image">
                                    </figure>
                                </div>
                            {% endif %}
                            <div class="card-content">
                                <div class="content">
                                    <p>
                                        <small>Sponsorisé</small>
                                    </p>
                                    <h4><a href="{{ a.url }}">{{ a.name }}</a></h4>
                                </div>
                                <div class="media">
                                    <div class="media-left">
                                        <figure class="image is-20x20">
                                            <img src="https://www.google.com/s2/favicons?domain={{ a.source.domain }}"
                                                 alt="Placeholder image">
                                        </figure>
                                    </div>
                                    <div class="media-content">
                                        <p class="subtitle is-4"><a
                                                    href="{{ a.source.subdomain }}">{{ a.source.domain }}</a></p>
                                        <div class="tags has-addons">
                                            {% for n in a.ngrams %}
                                                {% if loop.index < 4 %}
                                                    <span class="tag">{{ n.ngram }}</span>
                                                    <span class="tag is-primary">{{ n.score }}</span>
                                                    &nbsp;
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <div class="card">
                            {% if a.img_uri %}
                                <div class="card-image">
                                    <figure class="image">
                                        <img src="{{ a.img_uri }}" alt="Placeholder image">
                                    </figure>
                                </div>
                            {% endif %}
                            <div class="card-content">
                                <div class="content">
                                    <h4><a href="{{ a.url }}">{{ a.name }}</a></h4>
                                </div>
                                <div class="media">
                                    <div class="media-left">
                                        <figure class="image is-20x20">
                                            <img src="https://www.google.com/s2/favicons?domain={{ a.source.domain }}"
                                                 alt="Placeholder image">
                                        </figure>
                                    </div>
                                    <div class="media-content">
                                        <p class="subtitle is-4"><a
                                                    href="{{ a.source.subdomain }}">{{ a.source.domain }}</a></p>
                                        <div class="tags has-addons">
                                            {% for n in a.ngrams %}
                                                {% if loop.index < 4 %}
                                                    <span class="tag">{{ n.ngram }}</span>
                                                    <span class="tag is-primary">{{ n.score }}</span>
                                                    &nbsp;
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    {% set compteur = compteur + 1 %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
